{{ form_start(form) }}

        {{ form_label(form.value) }}
        {{ form_widget(form.value, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.date) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.comment) }}
        {{ form_widget(form.comment, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.operationType) }}
        {{ form_widget(form.operationType, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.label) }}
        {{ form_widget(form.label, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.property) }}
        {{ form_widget(form.property, {'attr': {'class': 'form-input'}}) }}

<div class="flex justify-center mt-10">
        <button type="submit" class="form-submit">Ajouter</button>
</div>
{{ form_end(form) }}
