{{ form_start(form) }}

        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.city) }}
        {{ form_widget(form.city, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.zipCode) }}
        {{ form_widget(form.zipCode, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.address) }}
        {{ form_widget(form.address, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.comment) }}
        {{ form_widget(form.comment, {'attr': {'class': 'form-input'}}) }}

<div class="flex justify-center mt-10">
    <button type="submit" class="form-submit">Ajouter</button>
</div>
{{ form_end(form) }}
