{{ form_start(form) }}

        {{ form_label(form.rent) }}
        {{ form_widget(form.rent, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.advancesOnCharges) }}
        {{ form_widget(form.advancesOnCharges, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.total) }}
        {{ form_widget(form.total, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.startRent) }}
        {{ form_widget(form.startRent, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.endRent) }}
        {{ form_widget(form.endRent, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.rentalNumber) }}
        {{ form_widget(form.rentalNumber, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.date) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(form.tenant) }}
        {{ form_widget(form.tenant, {'attr': {'class': 'form-input'}}) }}

<div class="flex justify-center mt-10">
        <button type="submit" class="form-submit">Ajouter</button>
</div>
{{ form_end(form) }}
