{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="text-center mt-10 font-bold text-4xl">Locataires</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 lg:gap-6 m-10">
            {% for tenant in tenants %}
                <a href="{{ path('rent_receipt_show', {'locataireFirstName': tenant.firstName, 'locataireLastName': tenant.lastName, 'id': tenant.id}) }}">
                    <div class="bg-white h-auto tracking-wide border border-black-800 mx-1 rounded-lg relative">
                        <div class="small-banner w-1 h-20 absolute rounded-tl-md
                        {% if tenant.leaveAccommodation is not empty %}
                        bg-red-700
                        {% else %}
                        bg-green-700
                        {% endif %}"></div>
                        <h5 class="text-2xl font-semibold pl-6 pt-6 pr-6 pb-2">
                            {{ tenant.firstName }} {{ tenant.lastName }}
                        </h5>
                        <div class="px-6">
                        <p class="text-md font-regular text-gray-500">{{ tenant.rentalProperty }}</p>
                        <p class="text-md font-regular text-gray-500">{{ tenant.rentalProperty.property.address }}</p>
                        <p class="text-md font-regular text-gray-500">{{ tenant.rentalProperty.property.zipCode }} - {{ tenant.rentalProperty.property.city }}</p>
                        </div>
                        <p class="text-sm font-regular p-2 text-gray-500">Période : {{ tenant.entry|date("d/m/Y") }} -
                        {% if tenant.leaveAccommodation is not empty %}
                        {{ tenant.leaveAccommodation|date("d/m/Y") }}</p>
                        {% else %}
                        aujourd'hui
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}


