{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="text-center mt-10 font-bold text-4xl">Locataires</h1>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-2 lg:gap-6 m-10">
            {% for tenant in tenants %}
                <a href="{{ path('rent_receipt_show', {'locataireFirstName': tenant.firstName, 'locataireLastName': tenant.lastName, 'id': tenant.id}) }}">
                    <div class="bg-white h-auto tracking-wide border border-black-800 mx-1 rounded-lg relative">
                        <div class="small-banner w-1 h-20 bg-green-700 absolute rounded-tl-md"></div>
                        <h5 class="text-2xl font-semibold pl-6 pt-6 pr-6 pb-2">
                            {{ tenant.firstName }} {{ tenant.lastName }}
                        </h5>
                        <p class="text-md font-regular p-2 text-gray-500">{{ tenant.rentalProperty }}</p>
                        <p class="text-md font-regular p-2 text-gray-500">Date d'entrée
                            : {{ tenant.entry|date("m/d/Y") }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}


