<style>
    .top_rw {
        background-color: #f4f4f4;
    }

    .td_w {
    }

    button {
        padding: 5px 10px;
        font-size: 14px;
    }

    .invoice-box {
        width: 95%;
        margin: auto;
        padding: 10px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 14px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
        border-bottom: solid 1px #ccc;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: middle;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        font-size: 12px;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
</style>

<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top_rw">
            <td colspan="2">
                <h2 style="margin-bottom: 0px;">Quittance de loyer</h2>
                <span style="">Période du {{ rentReceipt.startRent | date('m/y') }} au {{ rentReceipt.endRent | date('d/m/y') }} - Date d'émission : {{ rentReceipt.date | date('d/m/y') }}</p></span>
            </td>
            <td style="width:30%; margin-right: 10px;">
                N° Locataire : {{ rentReceipt.rentalNumber }}
            </td>
        </tr>
        <tr class="top">
            <td colspan="3">
                <table>
                    <tr>
                        <td style="text-align: inherit">
                            <b>Bailleur</b><br>
                            {{ user.lessorInformation |raw }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information">
            <td colspan="3">
                <table>
                    <tr>
                        <td style="text-align: end">
                            <b>Locataire</b><br>
                            {{ rentReceipt.tenant }}
                            <br>
                            {{ rentReceipt.tenant.rentalProperty.property.address }}
                            <br>
                            {{ rentReceipt.tenant.rentalProperty.property.city }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <td colspan="3">
            <table cellspacing="0px" cellpadding="2px">
                <tr class="heading">
                    <td style="width:25%;">
                        Rubrique
                    </td>
                    <td style="width:10%; text-align:center;">
                    </td>
                    <td style="width:10%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                        Montant
                    </td>
                </tr>
                <tr class="item">
                    <td style="width:25%;">
                        Loyer habitation
                    </td>
                    <td style="width:10%; text-align:center;">
                    </td>
                    <td style="width:10%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                        {{ rentReceipt.rent | format_currency('EUR', locale='fr')}}
                    </td>
                </tr>
                <tr class="item">
                    <td style="width:25%;">
                        Avances sur charge
                    </td>
                    <td style="width:10%; text-align:center;">
                    </td>
                    <td style="width:10%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                        {{ rentReceipt.advancesOnCharges | format_currency('EUR', locale='fr')}}
                    </td>
                </tr>
                <tr class="item">
                    <td style="width:25%; padding-top: 15px;">
                        .................................................
                    </td>
                    <td style="width:10%; text-align:center;">
                    </td>
                    <td style="width:10%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                        ...................
                    </td>
                </tr>
                <tr class="item">
                    <td style="width:25%; padding-top: 15px;">
                        .................................................
                    </td>
                    <td style="width:10%; text-align:center;">
                    </td>
                    <td style="width:10%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                    </td>
                    <td style="width:15%; text-align:right;">
                        ...................
                    </td>
                </tr>
                </td>
            </table>
            <tr class="total">
                <td colspan="3" align="right"> Montant total : <b>{{ rentReceipt.total | format_currency('EUR', locale='fr')}}</b></td>
            </tr>
    </table>
</div>




<div style="margin: 2rem;"></div>

<div style="width: 100%; border: darkgreen 1px solid">
    <div style="display: -webkit-box">
        <div style="width: 25%; border: darkgreen 1px solid; margin: 1rem">
            <p style="text-align: center; color: darkgreen">Bailleur</p>
            <div style="margin: 1rem">
                {#
                {{ user.lessorInformation |raw }}
                #}
            </div>
        </div>
        <div class="center" style="width: 45%; margin: 1rem; text-align: center">
            <p>Avis de loyer</p>
            <p>Sans valeur de quittance</p>
            <p>Loyer du : {{ rentReceipt.startRent | date('m/y')}} </p>
            <p>Au : {{ rentReceipt.endRent | date('d/m/y')}}</p>
            <p>
                A réception de votre réglement, nous ne manquerons pas de vous adresser la QUITTANCE correspondante
            </p>
        </div>
        <div style="width: 18%; border: darkgreen 1px solid; margin: 1rem">
            <p style="text-align: center; color: darkgreen">Bailleur</p>
            <div style="margin: 1rem">
                <p>N. de locat : {{ rentReceipt.rentalNumber }}</p>
                <p>Date : {{ rentReceipt.date | date('d/m/y') }}</p>
                <p>Montant : {{ rentReceipt.total | format_currency('EUR', locale='fr')}}</p>
            </div>
        </div>
    </div>
    <div style="display: -webkit-box;">
        <div style="width: 40%; border: darkgreen 1px solid; margin: 1rem">
            <P style="text-align: center;  border-bottom: darkgreen 1px solid; margin: 0 !important;">DETAIL DE L'AVIS DE LOYER</P>
            <div style="display: -webkit-box;  margin: 1rem;">
                <div style="width: 60%;">
                    <p>Loyer :</p>
                    <p>Avances sur charges :</p>
                    <p>.....................</p>
                    <p>.....................</p>
                    <p>.....................</p>
                    <p>.....................</p>
                    <p>Total :</p>
                </div>
                <div style="width: 30%">
                    <p style="text-align: center">{{ rentReceipt.rent | format_currency('EUR', locale='fr')}}</p>
                    <p style="text-align: center">{{ rentReceipt.advancesOnCharges | format_currency('EUR', locale='fr')}}</p>
                    <p style="text-align: center">........</p>
                    <p style="text-align: center">........</p>
                    <p style="text-align: center">........</p>
                    <p style="text-align: center">........</p>
                    <p style="text-align: center; margin-bottom: 1rem;">{{ rentReceipt.total | format_currency('EUR', locale='fr')}}</p>
                </div>
            </div>
        </div>
        <div style="width: 10%;  margin: 1rem;">
            <div style="font-size: 10px">
                <p>Code monnaie ISO</p>
                <p>EUR</p>
            </div>
        </div>
        <div style="width: 40%; border: darkgreen 1px solid; margin: 1rem">
            <div style="margin: 1rem;">
                <p>Locataire</p>
                <p>{{ rentReceipt.tenant }}</p>
            </div>
            <div style="margin: 1rem;">
                <p>IMMEUBLE SIS A</p>
                <p>{{ rentReceipt.tenant.rentalProperty.property.name }}</p>
                <p>{{ rentReceipt.tenant.rentalProperty.property.address }} - {{ rentReceipt.tenant.rentalProperty.property.city }}</p>
                <p>{{ rentReceipt.tenant.rentalProperty.property.address }}</p>
            </div>
        </div>
    </div>
</div>

